{% extends 'base.html' %}

{% block title %} Notepads {% endblock title %}



{% block content %}

<div class='container' style = "margin-left:800px">
    <br>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Add New Note
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Add new note</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method = 'POST'>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Title</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='title' required>
                    <div id="emailHelp" class="form-text">Please enter the title of your note</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Description</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name='description' required>
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword2" class="form-label">Body</label>
                    <textarea type="text" class="form-control" id="exampleInputPassword2" name='body' required></textarea>
                </div>
        
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
        </div>
    </div>
    </div>

</div>

<br>

{% for note in notes %}
    <div class="card" style = "width:70%; margin-left:200px" >  
    <div class="card-body">
        <h5 class="card-title">{{ note.title | capfirst }}</h5>
        <p class="card-text">{{ note.description }}</p>
        <a href="{{ note.get_absolute_url }}" class="btn btn-primary">Read more</a>
    </div>
    <div class="card-footer text-muted">
        {{ note.date_created }}
    </div>
    </div>
    <br>
{% endfor %}


{% endblock content %}